doctype html
include ./header.pug
.container-fluid
    .row
        .col-md-12
            include ./navbar.pug
            
    video#myVideo(autoplay='' muted='' loop='')
        source(src='./media/fondo.mp4' type='video/mp4')
    .content
        h1#unete-title #{texto}
        - var esconder = esconder
        button.btn.btn-info.btn-regis(type='button' data-toggle='modal' data-target='#formularioEntrar' style='display:'+esconder) #{buton_entrar}
